* {
  background-color: #181719;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
}
a {
  color: white;
}
ul {
  list-style-type: none;
}
.nav-bar {
  display: flex;
  position: relative;
  height: 60px;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}
nav span {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 25px;
  color: white;
  z-index: 2;
}
.left {
  z-index: 2;
}
.left a {
  color: white;
  font-family: Crimson Pro;
  font-style: normal;
  font-weight: 200;
  font-size: 1rem;
  line-height: 16px;
  margin-left: 12px;
  padding: 5px;
  border: 1px solid;
  text-transform: uppercase;
}
.right {
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 1;
  width: 100vw;
  display: none;
}
.nav-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.nav-content .link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-top: 2rem;
  padding-bottom: 3px;
}
.nav-content .active {
  border-bottom: 2px solid white;
  font-weight: bold;
}
.nav-content .link {
  color: white;
}
.container {
  z-index: 2;
  margin: 10px 12px 10px 12px;
  display: flex;
  flex-direction: column;
}
.title h3 {
  font-family: Lora;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 61px;
}
.description {
  margin-top: 10px;
  font-family: Montserrat;
  letter-spacing: 0.8px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}
.more {
  margin-top: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
}
.more .right_arrow {
  width: 30px;
  margin: 5px 0 0 5px;
}
.more img {
  height: 100%;
  width: 100%;
}
.right-side {
  position: relative;
}
.right-side img {
  height: 100%;
  width: 100%;
}
.card {
  width: 75vw;
  background: #181719;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px 30px;
  position: relative;
  top: -3rem;
  right: -12vw;
}
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro .icon {
  flex: 1;
}
.intro .name {
  flex: 5;
  margin-left: 20px;
}
.intro .name p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 5px;
}
.intro img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.intro .designation {
  color: #828282;
}
.desc {
  margin-top: 20px;
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}
.footer {
  width: 100%;
  bottom: 0;
  position: fixed;
  text-align: center;
}
.footer * {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #a9a9a9;
}
@media (min-width: 900px) {
  main {
    margin: 20px 50px;
  }
  .close {
    display: none;
  }
  .container {
    margin-top: 30px;
    flex-direction: row;
  }
  .right {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: flex-end;
  }
  .nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 500px;
  }
  .nav-content .link {
    margin-top: 0px;
  }
  .left-side {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .right-side {
    flex: 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .view {
    height: 80%;
    width: 90%;
  }
  .title {
    margin-bottom: 30px;
  }
  .description {
    margin-bottom: 30px;
  }
  .card {
    position: absolute;
    top: 15rem;
    width: 25vw;
    right: 35px;
  }
}
@media (min-width: 1000px) {
  .card {
    top: 10rem;
  }
}
@media (min-width: 1000px) {
  .card {
    top: 26rem;
  }
}
