*{
    background-color: black;
}
nav{
    position: relative;
}
span{
    display: flex;
    position: absolute;
    right:20px;
    top: 20px;
    font-size: 25px;
    color: white;
}
